*{
    margin: 0%;
    padding: 0%;
    text-align: center;
    background-color: #A9C7EA;
}

.heading{
    margin: 0px;
    background-color:rgb(26, 24, 39);
    color:azure;
    height: 5rem;
    line-height: 5rem;
}

.choice:hover{
    opacity: 0.8;
    cursor:pointer;
    background-color:rgb(26, 24, 39);
}

.choices{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.choice{
    height: 170px;
    width: 170px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.scoreCard{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    gap: 8rem;
    margin-top: 4rem;
}

#userScore, #compScore{
    font-size: 4rem;
}

.msgContainer{
    margin-top: 4rem;
}

#msg{
    background-color: rgb(26, 24, 39);
    color: azure;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}